@using TiendaOnline.Models;
@model List<Productos>

@{
    ViewData["Title"] = "Inicio";
}


<br />
<h2>Categoria Repuestos y Accesorios</h2>
<br />

<div class="row">
    @foreach (var producto in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px; color:steelblue"><strong>@producto.Nombre</strong></label>
                    </h4>
                </div>
                <img src="~/@producto.Imagen" alt="Card Imagen" class="card-img-top" style="width:100%" ; height="300px" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#f31212">
                                <b>Precio : <strong> $@producto.Precio </strong></b>
                            </label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                            <a asp-action="Detail" asp-controller="Categorias" asp-route-id="@producto.ID" class="btn btn-outline-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>