@model IEnumerable<TiendaOnline.Models.Orden>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Mis Ordenes</h2>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border text-center">

        <tr class="table-info text-center">
            <th>Numero de Orden</th>
            <th>Nombre del Cliente</th>
            <th>Fecha</th>
            <th>Estado</th>
            
            
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.numeroOrden</td>
                <td>@k.Nombre</td>
                <td>@k.Fecha</td>
                <td>@k.Estado</td>


            </tr>
        }
    </table>
</div>




